<div id="index">
    <img class="avatar" src="images/avatar.png" title="{{name}}">
    <h2>{{name}}</h2>
    <h3 class="job">{{job_title}} - {{employer}}</h3>
    <div class="row">
      <div class="bicol col-md-6">
        <div class="missions">
        <h3 class="missions_title">{{missions_title}}</h3>
        {{missions}}
        </div>
        <div class="activites">
        <h3 class="activites_title">{{activites_title}}</h3>
        <pre>{{activites}}</pre>
        </div>
      </div>
      <div class="bicol col-md-6">
        <div class="contact">
          <h3 class="contact_title">{{contact_title}}</h3>
          <label>Adresse :</label><pre>{{postal_address}}</pre><br />
          <label>Bureau :</label> {{office}}<br />
          <label>Téléphone :</label> {{phone}}<br />
          <label>E-mail :</label> {{mail}}<br /></div>
        </div>
    </div>
</div>
